
# Compiled source #
*.class
target/
.DS_Store
!gradle/

# Intellij files and folders #
*.iml
.idea/

# Eclipse files and folders #
.project
.settings
.classpath

# Package Files #
*.jar
*.war
*.ear

# Logs #
*.log
logs/
